body{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(31, 31, 31);
    color:grey;
    overflow-y: scroll;
}
.navbar{
    top: 0;
    z-index:999;
    position: fixed;
    width: 100%;
    letter-spacing: 1;
    background-color: rgb(16, 16, 16);
    font-size: 20;
}
.nav-margin{
    margin:150 0 80 0;
}
.navbar dl{
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
.navbar li{
    display: flex;
    padding:15 25;
    align-items: center;
}
.navbar li:first-child{
    font-size: 35;
    color: orange;
    transition: 0.2s ease-in-out;
}
.navbar li:first-child:hover{
    transition: 0.2s ease-in-out;
    transform: scale(110%);
}
.navbar a:not(.active){
    padding: 8 16;
    color: rgb(177, 177, 177);
    text-decoration: none;
    transition: 0.1s ease-in-out;
}
.navbar a:not(.active):hover{    
    transition: 0.1s ease-in-out;
    transform: scale(110%);
    color:white;
}
.active{
    padding: 8 16;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /*background-color: rgb(255, 166, 0);*/
}




.logout-btn{
    box-shadow:3px 3px 15px 10px rgba(0, 0, 0, 0.648);
    height: 40;
    width: 120;
    cursor: pointer;
    border-radius: 100px;
    border: none;
    font-weight: bold;
    font-size: 18;
    background-color: orange;
    transition: 0.2s ease-in-out;
}
.logout-btn:hover{
    background-color: rgb(190, 123, 0);
    transition: 0.1s ease-in-out;
}




.welcome-user{
    font-weight: 500;
    font-size:50;
    text-align: center;
    color: rgb(230, 230, 230);
    margin: 150 0;
    margin-bottom: 80;
}




.guest-banner, .user-banner{
    font-size: 25;
    margin-top: 50;
    margin-bottom: 20;
    background-color: orange;
    padding: 10 0;
    color: black;
}
.guest-banner span, .user-banner span{
    font-weight: 700;
    color: red;
}




.topic{
    margin-top: 20;
    margin-bottom: 20;
    font-size:28;
    text-align: center;
    color: rgb(211, 211, 211);
    /*color: orange;*/
}
.content{
    font-size:19;
    text-align: center;
    color: rgb(194, 194, 194);
}



.wrapper{
    margin-top: 80;
    padding-left: 5%;
    padding-right: 5%;
}

.services, .vehicle-row{
    display: flex;
    justify-content: space-around;
}
.service, .vehicle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10;
    width: 25%;
    min-width: 50;
    border-radius:20px;
    padding: 50;
    background-color: #2f2f2f;
    box-shadow:3px 3px 15px 10px rgba(0, 0, 0, 0.284);
}
.subtopic{
    color: rgb(213, 213, 213);
    text-align: center;
}
.service .content, .vehicle .content{
    margin-top: 30;
    text-align: justify;
}
.service, .vehicle{
    transition: transform 0.2s ease-in-out;
}
.service:hover, .vehicle:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(103%);
}
.service img{
    /*width: 150;*/
    max-width: 150;
    width: 60%;
}
.vehicle img{
    width: 65%;
    margin-bottom: 15;
    margin-top: 25;
}
.vehicle-row{
    margin-bottom:25;
}
.vehicle{
    border-radius: 0;
    width: 27%;
    padding: 0;
    padding-bottom: 50;
}
.vehicle .subtopic{
    font-style: bold;
    font-weight: 500 ;
    margin: 0;
    width: 100%;
    height: 68;
    background-color: orange;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vehicle .content{
    text-align: center;
    color:  rgb(197, 197, 197);
    font-size: 18;
}
.service:last-child img{
    padding-top: 30;
}






.feature-table{
    margin: 0 2%;
    color: rgb(168, 168, 168);
    display: flex;
    justify-content: space-around;
    font-size: 1em;
    min-width: 400px;
    border-collapse: collapse;
}
.feature-table .odd{
    background-color: rgb(25, 25, 25);
}
.feature-table td{
    border: 1px solid rgb(95, 95, 95);
    padding: 20;
}
.feature-table td:last-child{
    text-align: justify;
}
.feature-table .hl{
    font-size: 20;
    color: rgb(224, 224, 224);
}
.feature-table tr:hover{
    background-color: rgb(54, 54, 54);
}
.table-icon{
    width: 50;
}




.btn-container{
    display: flex;
    justify-content: center;
}
.long-btn{
    box-shadow:3px 3px 15px 10px rgba(0, 0, 0, 0.284);
    height: 60;
    width: 400;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    font-size: 20;
    background-color: orange;
    transition: 0.2s ease-in-out;
}
.long-btn:hover{
    transition: 0.1s ease-in-out;
    transform: scale(103%);
}
.login-popup{
    top:900px;
}
.sign-in-popup{
    top: 750px;
}


.login-popup, .sign-in-popup{
    width: 520;
    border: 1px solid orange;
    align-items: center;
    border-radius: 10px;
    padding: 30;
    background-color: #101010;
    position: absolute;
    font-size: 20;
    box-shadow: none;
    transition: 0.2s ease-in-out;
    transform: scale(0.1);
    visibility: hidden;
}





/*
.sign-in-popup{
    z-index: 900;
    box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, 0.648);
    transition: 0.2s ease-in-out;
    transform: scale(1);
    visibility: visible;
}
*/



.open-login-popup{
    box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, 0.648);
    transition: 0.2s ease-in-out;
    transform: scale(1);
    visibility: visible;
}
.open-sign-in-popup{
    box-shadow: 3px 3px 15px 10px rgba(0, 0, 0, 0.648);
    transition: 0.2s ease-in-out;
    transform: scale(1);
    visibility: visible;
}
.loginSignRedir{
    cursor: pointer;
    color: orange
}
.loginSignRedir:hover{
    color: rgb(151, 98, 0)
}
.login-row{
    margin-bottom: 10;
}
.login-row span{
    margin-left: 15;
    font-size: 15;
    color: red;
}



.login-submit{
    cursor: pointer;
    background-color: orange;
    padding: 5 0;
    letter-spacing: 2;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 25;
    margin-top: 10;
}
.login-submit:hover, .popup-close-btn:hover{
    background-color: rgb(184, 120, 0);
}
.form-heading{
    text-align: center;
    margin: 0;
}
.popup-close-btn{
    cursor: pointer;
    border: none;
    background-color: orange;
    border-radius: 100px;
    width: 40;
    height: 40;
    font-weight: 800;
    font-size: 25;
    right: 25;
    top: 20;
    position: absolute;
}




.textfield {
    border: none;
    color: rgb(203, 203, 203);
    /*border-bottom: 1px solid rgb(102, 102, 102);*/
    border-radius: 5px;
    border: 1px solid rgb(102, 102, 102);
    background-color: #101010;
    font-size: 20px; /* Desired font size */
    height: 35px;
    width: 100%;
}

.textfield:focus {
    outline: none;
}

/* Autofill styles for Chrome */
.textfield:-webkit-autofill,
.textfield:-webkit-autofill:focus,
.textfield:-webkit-autofill:hover,
.textfield:-internal-autofill-selected {
    -webkit-box-shadow: 0 0 0 30px #101010 inset !important; /* Matches input background */
    -webkit-text-fill-color: rgb(0, 12, 89) !important;  /* Matches input text color */
    font-size: 20px !important; /* Forces consistent font size */
    transition: background-color 5000s ease-in-out 0s;
}



.radio-btns{
    display: flex;
}
.radio{
    margin-left: 50;
    width: 20;
}




.help-body{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.help-body h1{
    font-size: 1.5em;
    widows: 30%;
    font-weight: normal;
    padding: 15 50;
    position: relative;
    top: 110;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 75;
    background-color: orange;
}
.all-boxes{
    padding: 80 0 50 0;
    background-color: rgb(17, 17, 17);
    border-top: 2px solid orange;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    position: relative;
    border: 3px solid rgb(48, 48, 48);
    /*border-radius: 10px;*/
    margin: 15;
    width: 60%;
    max-width: 600px;
}
.expand-btn{
    cursor: pointer;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0); /* Same bg color */
    padding: 2;
    position: absolute;
    font-size: 10;
    font-weight: 900;
    right: 10;
    top: 12;
}
.question{
    /*
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    */
    text-align: center;
    color: rgb(197, 197, 197);
    font-size: 18;
    background-color: rgb(48, 48, 48); /* Same bg color */
    padding: 10;
}
.expanded-question{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;;
}
.answer{
    display: none; /* ################## */
    text-align: justify;
    padding: 10 20;
    background-color: #00000000;
}
.expanded-answer{
    display: block;
}




.admin-table{
    display: flex;
    justify-content: center;
    margin: 0 2%;
    color: rgb(168, 168, 168);
    font-size: 1em;
    border-collapse: collapse;
}
.admin-table tr:first-child{
    text-align: center;
    background-color: #101010;
}
.admin-table td:nth-child(6), .admin-table td:nth-child(7) /*Address and Email*/{
    max-width: 300px;
}
.admin-table tr:not(:first-child):hover{
    background-color: rgb(54, 54, 54);
}
.admin-table td{
    border: 1px solid rgb(95, 95, 95);
    word-wrap: break-word;
    padding: 10px;
}
.admin-table .hl{
    font-size: 20px;
    color: rgb(224, 224, 224);
}
.admin-table-icon{
    width: 30px;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
}
.admin-table-icon:hover{
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out;
}



.update-form-wrapper{
    display: flex;
    justify-content: center;
}
.update-form{
    position: relative;
    background-color: #101010;
    border-radius: 5px;
    font-size: 20;
    width: 600px;
    border: 1px solid orange;
    padding: 30;
}
.update-form-row{
    position: relative;
    display: flex;
    justify-content: right;
}
.update-form-row span{
    top: 35;
    left: 160;
    font-size: 13px;
    color: red;
    position: absolute;
}
.update-form-row:not(:last-child){
    margin-bottom: 25;
}
.radio-field input[type="radio"]{
    accent-color: #0051ff;
    scale: 150%;
}
.update-form-row .textfield, .radio-field{
    margin-left: 20;
    width: 450px;
}
.update-form :first-child .textfield{
    opacity: 0.5;
}




#login-password-row, #sign-password-row, #sign-re-password-row{
    position: relative;
}
#login-eye, #sign-eye, #sign-re-eye{
    cursor: pointer;
    z-index: 1;
    width: 28px;
    position: absolute;
    top: 39;
    right: 15;
}





/*About Styles*/
.about-image img{
    width: 100%;
}
.about-blank{
    background-color: orange;
    color: black;
    padding:10px;
}
.about-blank h3 a{
    color:rgb(91, 91, 91);
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.about-blank h3 a:hover{
    color:rgb(0, 0, 0);
    transition: color 0.1s ease-in-out;
}




/*Ride Styles*/
.ride-form-holder{
    display: flex;
    justify-content: center;
}

.ride-form{
    box-shadow:3px 3px 15px 10px rgba(0, 0, 0, 0.453);
    font-size: 18;
    border-radius: 10px;
    padding: 30 70;
    border:1px solid rgb(127, 127, 127);
    min-width: 400;
    width: 48%;
}
.ride-form .topic{
    margin: 0;
    margin-bottom: 15;
}
.ride-form .login-submit{
    margin-top: 20;
    box-shadow:3px 3px 15px 10px rgba(0, 0, 0, 0.296);
}
#dateAndTime{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
#dateAndTime div{
    width: 100%;
    display: flex;
    flex-direction: column;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    padding-right: 10;
    filter: invert(1); /* This will turn the icon white */
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
    padding-right: 10;
    filter: invert(1); /* This will turn the time input icon white */
}
#vehicleOpt-note{
    color: rgb(158, 158, 158);
}







.about-content h1{
    text-align: center;
}
.about-content h3{
    text-align: left;
}
.about-content h1, .about-content h3{
    border: none;
    color:white;
}
.about-content , .about-blank {
    padding:10 120;
}







.footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100;
    background-color: rgb(17, 17, 17);
    height: 120px;
}




